---
const { source, className } = Astro.props;
import DynamicIcon from "@/helpers/DynamicIcon";

// const socials = [
//   { name: "LinkedIn", icon: "faFaLinkedin", link: "https://linkedin.com" },
//   { name: "Google Scholar", icon: "faFaGoogle", link: "https://scholar.google.com" },
//   { name: "ORCID", icon: "faFaOrcid", link: "https://orcid.org" },
//   { name: "ResearchGate", icon: "faFaResearchgate", link: "https://researchgate.net" },
//   { name: "Medium", icon: "faFaMedium", link: "https://medium.com" },
// ];


export interface ISocial {
  name: string;
  icon: string;
  link: string;
}
---

<ul class={className}>
  {
    source.map((social: ISocial) => (
      <li>
        <a
          aria-label={social.name}
          href={social.link}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">{social.name}</span>
          <DynamicIcon className="inline-block" icon={social.icon} />
        </a>
      </li>
    ))
  }
</ul>
