---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";

const contact = await getEntry("research", "-index");
// const COLLECTION_FOLDER = "research";

// const researchIndex = await getEntry(COLLECTION_FOLDER, "-index");
// const research = await getSinglePage(COLLECTION_FOLDER);

const { title, description, meta_title, image } = contact.data;


import type { Props } from "astro";
import ResearchCards from "../componentss/research/ResearchCard.astro";
// const AllResearch = await Astro.glob('../content/domainsc/*.md');

const card_list = [
  {
    id: 1,
    img: "./images/research/rf2.jpg",
    icon: "./images/research/heart-pulse-solid.svg",
    path: "/healthcare",
    title: "AI in Healthcare",
  },
  {
    id: 2,
    img: "./images/research/rf3.jpg",
    icon: "./images/research/street-view-solid.svg",
    path: "/human-centered-systems",
    title: "Human Centered Systems",
  },
  {
    id: 3,
    img: "./images/research/rf4.jpg",
    icon: "./images/research/shield-solid.svg",
    path: "/cybersecurity",

    title: "Cybersecurity",
  },
  {
    id: 4,
    img: "./images/research/rf5.jpg",
    icon: "./images/research/wearables.png",
    path: "/wearables",

    title: "Wearables",
  },
  {
    id: 5,
    img: "./images/research/rf5.jpg",
    icon: "./images/research/wearables.png",
    path: "/new-domain-1",
    title: "New Domain",
  },
  {
    id: 6,
    img: "./images/research/rf5.jpg",
    icon: "./images/research/wearables.png",
    path: "/new-domain-2",
    title: "New Domain",
  },
];
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />

  <section class="section-sm pb-0">
    <div class="container">
     

	<!-- <TitleHeader title="Apply To CPS Lab" bgImg={ TtlBgImg } /> -->



  
		<div class="flex-container">
		  {card_list.map((item) => {
			return (
			  <a href={item.path}>
				<ResearchCards {...item} key={item.id} />
			  </a>
			);
		  })}
		</div>
	  </div>

    </section>
	

</Layout>




<style>
	/* .rf {
  width: 100%;
  margin: 0;
  position: relative;
  padding-top: 100px;
} */

.flex-container {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  max-width: 80rem;
  /* margin: 0 auto; */
  color: #752a65;
  margin: 0 auto; /* to center it horizontally*/
  padding-bottom: 3rem;
  padding-top: 3rem;
  gap: 3rem;
}

.fa {
  font-size: 35px;
  margin-bottom: 20px;
}

</style>

